@model Chat.ViewModels.ChatChannelsViewModel

@{
    ViewData["Title"] = "Chat Channels";
}

<div class="row">
    <div class="col-xl-12">
        <h1>Chatroom Channels</h1>

        @foreach (var channel in @Model.ChatChannels)
        {
            <div>
                <a href="?id=@channel">@channel</a>
            </div>
        }
    </div>
</div>